.main {
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 20px;
}

.root-container {
  width: min(80%, 1200px);
}

.input-container {
  display: flex;
  margin-bottom: 10px;
}

.input {
  border: none;
  outline: none;
  padding: 8px 15px;
  height: 50px;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.03);
  align-self: center;
  border-radius: 8px;
  width: 100%;
}

.submit-button {
  all: unset;
  cursor: pointer;

  border-radius: 8px;
  margin-left: 10px;
  padding: 4px 25px;
  border: solid 1px rgb(226, 232, 240);
  font-size: 14px;

  background-color: transparent;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.submit-button:hover {
  background-color: #F1F5F9;
}

.card {
  width: 100%;
  border: 1px solid rgb(223, 225, 228);
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 1px 4px;
  padding: 15px;
  margin-bottom: 8px;
  font-size: 14px;
}